:root {
  --medium-zoom-z-index: 100;
  scroll-behavior: smooth;
}



.medium-zoom-overlay {
  z-index: var(--medium-zoom-z-index);
  background: var(--vp-c-neutral-inverse) !important;
}
.medium-zoom-overlay ~ img {
  z-index: calc(var(--medium-zoom-z-index) + 1);
}

.m-friends-layout {
  .container {
    max-width: 1080px !important;
  }
  .content-container,
  .content {
    max-width: 100% !important;
  }

  .aside {
    display: none !important;
  }
}

